/* стилі до index.html */
.body {
  color: #e5e5e5;
}

/* верхня лінія */
.header {
}
.header-nav {
}
.nav-logo {
  color: #000000;
}
.accent_logo {
  color: #2196f3;
}
.nav-list {
  cursor: pointer;
  list-style: none;
}
.nav-link {
  color: #212121;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #2196f3;
}
.header-list {
  list-style: none;
}
.header-link-mail {
  color: #757575;
}
.header-link-mail:hover,
.header-link-mail:focus {
  color: #2196f3;
}
.header-link-tel {
  color: #757575;
}
.header-link-tel:hover,
.header-link-tel:focus {
  color: #2196f3;
}

/* секція Герой */
.hero {
  background-color: #2f303a;
}
.hero-caption {
  color: #ffffff;
}
.hero-button {
  color: #ffffff;
}

/*секція особливості*/
.about {
}
.about-list {
  list-style: none;
}
.about-item {
}
.about-title {
  color: #212121;
}
.about-text {
  color: #757575;
}

/* секція чим займаємось */
.work {
}
.work-title {
  color: #000000;
}
.work-list {
  list-style: none;
}
.work-item {
}
.work-img {
}

/* секція команда */
.team {
  background-color: #f5f4fa;
  position: absolute;
  width: 1600px;
  height: 648px;
}
.team-caption {
  color: #212121;
}
.team-list {
  width: 1170px;
  height: 368px;
}
.team-item {
}
.team-img {
}
.team-item-title {
  color: #212121;
}
.team-item-text {
  color: #757575;
}

/* футер */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
}
.footer-address {
  width: 231px;
  height: 81px;
}
.footer-list {
  list-style: none;
}
.footer-link-address {
  color: #ffffff;
}
.footer-link-mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* стилі для portfolio.html */
