/* стилі до index.html */
.body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

:root {
  /* Кольори */
  --color-text: #757575;
  --color-title2: #000;
  --color-white: #fff;
  --color-accent: #2196f3;

  /* Шрифти */
  --font-logo: 'Raleway', sans-serif;
}

/* верхня лінія */
.header {
}
.header-page {
}
.page-logo {
  color: var(--color-title2);
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.accent_logo {
  color: var(--color-accent);
}
.page-list {
  cursor: pointer;
  list-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page-link {
  color: inherit;
  text-decoration: none;
}
.page-link:hover,
.page-link:focus {
  color: var(--color-accent);
}
.active-btn:active {
  color: var(--color-accent);
}
.header-list {
  list-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header-link-mail,
.header-link-tel {
  color: var(--color-text);
  text-decoration: none;
}
.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--color-accent);
}

/* секція Герой */
.hero {
  background-color: #2f303a;
}
.hero-caption {
  color: var(--color-white);
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--color-white);
  background: var(--color-accent);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/*секція особливості*/
.about {
}
.about-list {
  list-style: none;
}
.about-item {
}
.about-title {
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-text {
  color: var(--color-text);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* секція чим займаємось */
.work {
}
.work-title {
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-list {
  list-style: none;
}
.work-item {
}
.work-img {
}

/* секція команда */
.team {
  background-color: #f5f4fa;
}
.team-caption {
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  list-style: none;
}
.team-item {
}
.team-img {
}
.team-item-title {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item-text {
  color: var(--color-text);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* футер */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: var(--color-white);
  font-family: var(--font-logo);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.footer-address {
  font-style: normal;
}

.footer-list {
  list-style: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-link-address {
  color: var(--color-white);
  text-decoration: none;
}
.footer-link-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:focus,
.footer-link-tel:hover {
  color: var(--color-white);
}
/* стилі для portfolio.html */

/* секція фільтри */
.portfolio {
}
.potrfolio-list {
  list-style: none;
}
.portfolio-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  background-color: #f5f4fa;
  cursor: pointer;
  display: flex;
}
.portfolio-filter:hover,
.portfolio-filter:focus {
  background-color: var(--color-accent);
}

/* секція картики */
.portfolio-cards-list {
  list-style: none;
}
.portfolio-cards-img {
}
.portfolio-cards-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
}
.portfolio-cards-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
